*.pyc
*.DS_Store
*.tags
*.bak
.venv/
.pytest_cache/
.ruff_cache/

libfab/libfab.dylib
libfab/libfab.so
build/*
util/app/ko.icns
util/app/kokopelli.app
util/app/kokopelli.zip

util/doxygen/*/html/*
util/doxygen/*/latex/*

turbopush.sh
